/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Fira Sans, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}
* {box-sizing: border-box;}
hr {display: none;}
p, ul, ol, ul li {
    margin-bottom: 1.5em;
}
ul, ol {
    margin-left: 2.5em;
}
main section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1.5em;
}
.buttonStyle {
    background-image: linear-gradient(90deg, #6cc1e2 0, #392f7a);
    padding: 1.2rem 1.6rem;
    font-size: 1.9rem;
    color: white;
    text-decoration: none;
    border:0;
    cursor: pointer;
}
.lni {
    color: #e42424; 
    font-size: 3rem;
}
span .lni {
    display: block;
    text-align: center;
    color: #e42424;
    font-size: 4rem;
}

/* HEADER */
header {
    padding: 1em;
    box-shadow: 0 2px 15px #d3d3d3;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
@media screen and (max-width:768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    }
}
header nav ul li {
    list-style-type: none;
}
header nav ul li {
    margin-bottom: 0.5em;
}
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e42424;
    font-size: 1.7rem;
}
header nav ul li a:not(.buttonStyle):hover {
    color:#e42424;
    text-decoration: underline;
}

input#menuButton {
    display: none;
}
input#menuButton:checked ~ nav {
   height: 150px; 
}

/* MAIN */
main section {
    padding: 3em 1.5em 1.5em;
}
main section:not(#banner) {
    text-align: center;
}
main h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

main h2 {
    font-size: 3.5rem;
    margin-bottom: 0.7em;
    line-height: 1.1;
}
main h3 {
    font-size: 2.7rem;
    margin-bottom: 0.5em;
    line-height: 1;
}

#banner {
    position: relative;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    text-shadow: 0 1px 3px #000;

}
    #banner::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0,0.25);
    }
    #banner h1 {
        font-size: 4.5rem;
        line-height: 1.2;
        margin-bottom: 0.5em;
    }
#banner > div {
    position: relative;
}
#banner a.buttonStyle {
    animation: pulse 1.5s infinite;
}

#obiettivi div {
    margin-bottom: 2em;
}

#scrivici {
    padding: 6em 1em;
    background-color: #0c0633;
    color: white;
}

ul.features {
    margin-left: 0;
}
#skills li {
    list-style-type: none;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 1em;
}
caption {
    font-size: 2.5rem;
}
tbody tr:nth-child(odd) {
    background-color: #d2dce7;
}

main form {
    margin-bottom: 2em;
}
main label {
    display: none;
}
main input, main textarea {
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
}
main input {
    height: 40px;
}
main input::placeholder, main textarea::placeholder {
    font-style: italic;
}
@media screen and (max-width:768px) {
    thead {display: none;}
    td {
        display: flex;
        text-align: left;
        padding: 5px;
    }
    td::before {
        content: attr(title);
        font-weight: bold;
        min-width: 120px;
        padding-right: 5px;
    }
}

/* FOOTER */
footer {
    padding: 3em;
    border-top: 1px solid #eee;
    background-color: rgb(238, 238, 238);
}
    footer div {
        margin-bottom: 1.5em;
    }
    footer nav ul {
        margin-left: 0;
    }
    footer nav li {
        list-style-type: none;
        display: inline-block;
    }
    footer h2 {
        font-size: 2rem;
        padding-bottom: 1em;
        line-height: 1;
    }
    footer fieldset {
        display: flex;
        flex-direction: column;
    }
    footer input {
        font-size: 2rem;
        padding: 1.2rem 1.5rem;
        width: 100%;
    }
    footer button {
        width: 100%;
    }

/* ANIMATIONS */
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);
    }
    
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  

/* RESPONSIVE */
@media screen and (min-width:768px) {
    html {font-size: 70%;}
    #menuMobile {display: none;}
    header nav ul {
        margin: 0 2em 0 0;
    }
    header nav ul li {
        display: inline-block;
        margin: 0 0 0 1.3em;
    }
    header nav ul li a {
        text-transform: none;
        color: #555;
    }

    #banner div {
        width: 70%;
        margin: 2.5em auto;
    }

    .obiettiviBox {
        display: flex;
        justify-content: space-evenly;
    }
    .obiettiviBox > div {
        width: 28%;
    }
    .obiettiviBox > div p {
        text-align: left;
    }

    #skills {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skillsTesto {
        text-align: left;
        padding-left: 2em;
    }
    .profiloBox {
        display: flex;
        justify-content: space-between;
    }
    .profiloBox > div {
        width: 47%;
    }
    #collegamenti {
        display: flex;
        justify-content: space-evenly;
    }
    #collegamenti > div {
        width: 28%;
    }
    #copyright {
        text-align: center;
    }
    th,td {
        padding: 15px;
    }
    th {
        background-color: rgb(95, 130, 163);
        color: white;
        text-transform: uppercase;
    }

    #contattiBox {
        display: flex;
        justify-content: space-between;
    }
    #contattiBox > * {
        width: 45%;
    }
}
@media screen and (min-width:1170px) {
    #obiettivi, #skills, #collegamenti, #profilo, #prezzi, #contatti {
        width: 1170px;
        margin: 0 auto;
    }
    #banner div {
        width: 700px;
    }
    header {
        justify-content: space-evenly;
    }
}