/* CSS GLOBALE */
body {
  font-family: "Akaya Telivigala", cursive;
  background-color: #1f1f22;
  color: white;
}

body.active {
  background: linear-gradient(to bottom, white,rgb(146, 146, 146));
  color: black;
}

main {
  margin: 0 4em;
}

#logoMio {
  width: 5em;
}

header {
  z-index: 2;
  position: sticky;
  top: 0;
}

/* IMPLEMENTAZIONE DARK-MODE */
#toggle {
  position: relative;
  right: 2em;
  display: block;
  width: 5em;
  height: 2em;
  border-radius: 160px;
  background-color: #1f1f22;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px black;
  cursor: pointer;
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  /* background: linear-gradient(to bottom, white,rgb(124, 124, 124)); */
  background: url('./img/moon.jpg');
  background-size:cover;
  transform: scale(0.9);
  border-radius: 50%;
  transition: 0.5s;
}

#toggle.active .indicator {
  left:3em;
  background: url('./img/sun-png.jpg');
  background-size:cover;
}

#toggle.active {
  background-color: white;
}

#map.active {
  filter: none;
}

/* SECTION SKILLS */
#skills img {
  width: 70px;
  height: 70px;
}

#skills {
  background: linear-gradient(
    90deg,
    rgb(164 164 164 / 12%) 47%,
    rgba(88, 88, 88, 1) 100%
  );
  border-radius: 2em;
}

#home .container {
  margin: 0;
  min-width: 100%;
  height: 55em;
}

#home img {
  border-bottom-left-radius: 20em;
  border-bottom-right-radius: 20em;
  border-top-left-radius: 20em;
  animation: slash-top 1s linear;
}

#home h1 {
  font-size: 7em;
  animation: slash-right 1s linear;
}

#bg-chiSono {
  position: absolute;
  top: 123px;
  left: 16px;
  color: #ff000038;
  z-index: -1;
}

#bg-chiSono p {
  line-height: 4;
  font-style: italic;
}

@media only screen and (max-width: 1400px) {
  #bg-chiSono p {
    line-height: 4.1;
  }

  #home h1 {
    font-size: 5em;
  }

  #home .container {
    height: 40em;
  }
}

@media only screen and (max-width: 1040px) {
  #bg-chiSono p {
    line-height: 4.7;
  }
}

@media only screen and (max-width: 990px) {
  #home h1 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
  }

  #toggle {
    margin: 0 auto;
    top: -4em;
    font-size: 0.7em;
  }

  #home img {
    width: 30em;
  }

  #bg-chiSono p {
    line-height: 5;
  }

  #home .container {
    height: 55em;
  }
}

@media only screen and (max-width: 770px) {
  #bg-chiSono p {
    line-height: 7.7;
  }
}

@media only screen and (max-width: 750px) {
  #home h1 {
    font-size: 4em;
    line-height: 1.3;
  }

  #home img {
    width: 25em;
  }

  #bg-chiSono p {
    line-height: 7.6;
  }

  #home .container {
    height: 45em;
  }
}

@media only screen and (max-width: 650px) {
  #bg-chiSono p {
    line-height: 7.8;
  }
}

@media only screen and (max-width: 550px) {
  #home h1 {
    font-size: 3em;
  }

  #home img {
    width: 20em;
    z-index: 1;
  }

  #bg-chiSono p {
    font-size: 1em;
    line-height: 11.8;
    z-index: -1;
  }

  #home .container {
    height: 38em;
  }
}

@media only screen and (max-width: 390px) {
  #leMieSkills {
    color: white;
  }

  #bg-chiSono p {
    line-height: 12;
  }
}

@media only screen and (max-width: 350px) {
  #bg-chiSono p {
    line-height: 12.7;
  }
}

/* SECTION CHI SONO */
#chi-sono img {
  width: 50em;
  border-radius: 8.6em;
}

/* SECTION WORKS */
.card {
  background: linear-gradient(
    90deg,
    rgb(164 164 164 / 12%) 47%,
    rgba(88, 88, 88, 1) 100%
  );
}

/* SECTION CONTATTI */
#contatti form {
  margin: 0 auto;
}

@media only screen and (max-width: 550px) {
  #contatti form {
    width: 100% !important;
  }
}

#map {
  filter: drop-shadow(16px 16px 20px red) invert(100%);
}

/* FOOTER */
footer a {
  z-index: 20;
  text-decoration: none;
  color: red;
}

/* ANIMATIONS */
@keyframes slash-right {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform: translateX(+1000px);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform: translateX(0px);
  }
}

@keyframes slash-top {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform: translateY(-1000px);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform: translateY(0px);
  }
}
